body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.bottom-buffer{
	margin-bottom:10px;
}
.row img {
	width:100%;
}
.row a {
	color:#000;
}
.row h3{
	color:#167AC6;
}