<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>iTA test</title>
    <link href="css/index.css" rel="stylesheet">
    <link href="css/1-col-portfolio.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
	<div id="app">
    <nav class="navbar navbar-inverse navbar-fixed-top mynavbar" role="navigation">
      <div class="container">
      	<div class="col-xs-5 col-sm-3 col-md-3 pull-right">
            <div class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" v-model="searchText" placeholde="搜尋...">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" v-on:click="search(searchText)"> 
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-header">
          <a class="navbar-brand" href="#">iTA test</a>
          
        </div>
        
        <div class="collapse navbar-collapse">
        	
        </div>
      </div>
    </nav>
    <div class="container">
    	<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">iTA test
                </h1>
            </div>
        </div>
        <div class="row bottom-buffer">
            <div class="col-md-1  ">
                <div class="dropdown">
                    <button class="btn dropdown-toggle btn-customize" type="button" data-toggle="dropdown">Filters
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a v-on:click="filter(searchText,'date')" href="#" >date</a></li>
                        <li><a href="#" v-on:click="filter(searchText,'rating')">rating</a></li>
                        <li><a href="#" v-on:click="filter(searchText,'relevance')">relevance</a></li>
                        <li><a href="#" v-on:click="filter(searchText,'title')">title</a></li>
                        <li><a href="#" v-on:click="filter(searchText,'videoCount')">videoCount</a></li>
                        <li><a href="#" v-on:click="filter(searchText,'viewCount')">viewCount</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row bottom-buffer" v-for="videoItem in videoItems" >
            <div class="col-md-5">
                <a target="_blank" v-bind:href="'https://www.youtube.com/watch?v=' + videoItem.id.videoId">
                    <img class="img-responsive" v-bind:src="videoItem.snippet.thumbnails.high.url" alt="">
                </a>
            </div>
            <div class="col-md-7">
                <div class="videoTitle">{{videoItem.snippet.title}}</div>
                <div class="viedoPuclisheAt">{{videoItem.snippet.publishedAt}}</div>
                <p>{{videoItem.snippet.description}}</p>
                
            </div>
        </div>
        <!-- /.row -->

        <hr>
          
      <footer>
        <p>&copy; Stanley 2017</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/vue"></script>
    <script>
		
		var app = new Vue({
		  el: '#app',
		  data: {
			videoItems: '',
			searchText:''
		  },
		  
		  methods:{
		  	search: function(query){
				this.getYoutubeItems(query);
				alert(this.getYoutubeItemDetail('YQHsXMglC9A'));
			},
			filter: function(query,order){
				this.filterYoutubeItems(query,order);
			},
			getYoutubeItems:function(query){
				var result ='';
				$.ajax({
					url: "https://www.googleapis.com/youtube/v3/search?part=snippet&key=AIzaSyB4EYG5zAW_f7n0vgZ-k9Z79Rdd3L1eK4Y&q=" + query ,
					type:"GET",
					dataType:'json',
					success: function(msg){
						var videoItems = msg.items
						app.videoItems = videoItems;
					},
					 error:function(xhr, ajaxOptions, thrownError){ 
						alert(xhr.status); 
						alert(thrownError); 
					 }
				});
			},
			filterYoutubeItems:function(query,order){
				var result ='';
				$.ajax({
					url: "https://www.googleapis.com/youtube/v3/search?part=snippet&key=AIzaSyB4EYG5zAW_f7n0vgZ-k9Z79Rdd3L1eK4Y&q=" + query + "&order=" + order ,
					type:"GET",
					dataType:'json',
					success: function(msg){
						var videoItems = msg.items
						app.videoItems = videoItems;
					},
					 error:function(xhr, ajaxOptions, thrownError){ 
						alert(xhr.status); 
						alert(thrownError); 
					 }
				});
			}
		},created: function () {
			
			$.ajax({
                url: "https://www.googleapis.com/youtube/v3/search?part=snippet&key=AIzaSyB4EYG5zAW_f7n0vgZ-k9Z79Rdd3L1eK4Y",
                type:"GET",
                dataType:'json',
                success: function(msg){
					var videoItems = msg.items
					
					app.videoItems = videoItems;
				},
                 error:function(xhr, ajaxOptions, thrownError){ 
                    alert(xhr.status); 
                    alert(thrownError); 
                 }
            });
		  }
		})
	</script>
  </body>
</html>

